# yaml-language-server: $schema=https://json.schemastore.org/clangd.json
CompileFlags:
  Add: [
     -xc,
     -DEFM32GG990F1024,
     -Wall,
     -I/home/hans/Work/Embedded/SiliconLabs/Gecko_SDK/platform/Device/SiliconLabs/EFM32GG/Include/
     -I/home/hans/Work/Embedded/SiliconLabs/Gecko_SDK/platform/CMSIS/Core/Include/
     -header-insertion=never
]
